In [44]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import torch
from sklearn.preprocessing import MinMaxScaler
from torch.utils.data import DataLoader,Dataset
import torch.nn as nn

In [2]:
df=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\drug200.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [3]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Age, Sex, BP, Cholesterol, Na_to_K, Drug]
Index: []

In [5]:
df.describe(include='all')

               Age  Sex    BP Cholesterol     Na_to_K   Drug
count   200.000000  200   200         200  200.000000    200
unique         NaN    2     3           2         NaN      5
top            NaN    M  HIGH        HIGH         NaN  DrugY
freq           NaN  104    77         103         NaN     91
mean     44.315000  NaN   NaN         NaN   16.084485    NaN
std      16.544315  NaN   NaN         NaN    7.223956    NaN
min      15.000000  NaN   NaN         NaN    6.269000    NaN
25%      31.000000  NaN   NaN         NaN   10.445500    NaN
50%      45.000000  NaN   NaN         NaN   13.936500    NaN
75%      58.000000  NaN   NaN         NaN   19.380000    NaN
max      74.000000  NaN   NaN         NaN   38.247000    NaN

In [16]:
a=set(df['Drug'])
b=set(df['BP'])
c=set(df['Cholesterol'])
print(a,b,c)

{'drugC', 'DrugY', 'drugA', 'drugB', 'drugX'} {'LOW', 'NORMAL', 'HIGH'} {'NORMAL', 'HIGH'}

In [23]:
from pandas import get_dummies
dfv2=get_dummies(df,columns=['Sex','BP','Cholesterol','Drug'],dtype="float")

In [24]:
dfv2.head()

,Age,Na_to_K,Sex_F,Sex_M,BP_HIGH,BP_LOW,BP_NORMAL,Cholesterol_HIGH,Cholesterol_NORMAL,Drug_DrugY,Drug_drugA,Drug_drugB,Drug_drugC,Drug_drugX
0,23,25.355,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,47,13.093,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,47,10.114,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,28,7.798,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,61,18.043,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [27]:
col=list(dfv2.columns)
ycol=[]
[ycol.append(x) for x in col if x.startswith('Drug')]
[col.remove(x) for x in ycol]

[None, None, None, None, None]

In [30]:
X=dfv2[col]
Y=dfv2[ycol]

xarray=np.array(X)
yarray=np.array(Y)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(xarray, yarray, test_size=0.2, random_state=42)
X_val,X_test,y_val,y_test=train_test_split(X_test,y_test, test_size=0.5,random_state=42)

In [36]:
print(X_train.shape,y_train.shape)

(160, 9) (160, 5)

In [42]:
class dataset(Dataset):
    def __init__(self,A,B):
        self.X=torch.tensor(A,dtype=torch.float32)
        self.Y=torch.tensor(B,dtype=torch.float32)
    
    def __len__(self):
        return len(self.X)
    
    def __getitem__(self, index):
        return self.X[index],self.Y[index]

In [43]:
traindataset=dataset(A=X_train,B=y_train)
valdataset=dataset(A=X_val,B=y_val)
testdataset=dataset(A=X_test,B=y_test)

traindata_laoder= DataLoader(traindataset, batch_size= 8, shuffle=True)
testdata_loader= DataLoader(testdataset, batch_size= 8,shuffle=True)
valdata_loader=DataLoader(valdataset,batch_size= 8,shuffle=True)

In [48]:
class Classification(nn.Module):
    def __init__(self):
        super(Classification,self).__init__()
        self.Linear1=nn.Linear(X.shape[1],10)
        self.relu=nn.ReLU()
        self.Linear2=nn.Linear(10,Y.shape[1])

    def forward(self,x):
        x=self.Linear1(x)
        x=self.relu(x)
        x=self.Linear2(x)

model=Classification()

In [53]:
from torchsummary import summary

summary(model,input_size=(xarray.shape[1],))

----------------------------------------------------------------
        Layer (type)               Output Shape         Param #
================================================================
            Linear-1                   [-1, 10]             100
              ReLU-2                   [-1, 10]               0
            Linear-3                    [-1, 5]              55
================================================================
Total params: 155
Trainable params: 155
Non-trainable params: 0
----------------------------------------------------------------
Input size (MB): 0.00
Forward/backward pass size (MB): 0.00
Params size (MB): 0.00
Estimated Total Size (MB): 0.00
----------------------------------------------------------------

In [ ]:
for i in range(10):
    for value,label in traindata_laoder:
        output=model.compile()

tensor([[52.0000,  9.8940,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [49.0000, 10.5370,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [61.0000, 18.0430,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [58.0000, 14.2390,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [70.0000, 13.9670,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [39.0000, 13.9380,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [37.0000, 23.0910,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [31.0000, 30.3660,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000]]) tensor([[0., 0., 0., 0., 1.],
        [0., 0., 0., 1., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.]])
tensor([[50.0000, 17.2110,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [24.0000, 10.6050,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [47.0000, 10.4030,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [28.0000, 13.1270,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [35.0000,  9.1700,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [50.0000, 12.7030,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [47.0000,  6.6830,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [22.0000,  8.6070,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000]]) tensor([[1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 1., 0., 0., 0.],
        [0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 1.]])
tensor([[34.0000, 19.1990,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [60.0000, 13.9340,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [57.0000,  9.9450,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [65.0000, 34.9970,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [15.0000, 17.2060,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [58.0000, 18.9910,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [72.0000,  6.7690,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [37.0000,  8.9680,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000]]) tensor([[1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 1., 0., 0.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0.],
        [0., 0., 0., 0., 1.]])
tensor([[69.0000, 10.0650,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [41.0000, 22.9050,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [39.0000, 15.9690,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [41.0000, 11.0370,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [26.0000, 12.3070,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [20.0000, 35.6390,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [45.0000, 10.0170,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [64.0000, 20.9320,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000]]) tensor([[0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0.],
        [0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.]])
tensor([[67.0000, 20.6930,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [47.0000,  6.6830,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [59.0000, 13.9350,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [23.0000,  8.0110,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [35.0000,  7.8450,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [37.0000, 12.0060,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [36.0000, 16.7530,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [49.0000, 16.2750,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000]]) tensor([[1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 0., 1., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.]])
tensor([[47.0000, 10.1140,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [57.0000,  9.9450,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [26.0000, 12.3070,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [68.0000, 10.1890,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [37.0000,  8.9680,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [47.0000, 11.7670,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [67.0000, 20.6930,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [15.0000, 17.2060,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000]]) tensor([[0., 0., 0., 1., 0.],
        [0., 0., 1., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 1., 0.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.]])
tensor([[32.0000, 10.2920,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [40.0000, 27.8260,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [22.0000, 11.9530,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [46.0000, 34.6860,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [23.0000, 16.8500,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [23.0000,  8.0110,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [37.0000, 23.0910,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [24.0000, 10.6050,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000]]) tensor([[0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.]])
tensor([[72.0000, 16.3100,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [32.0000, 10.8400,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [28.0000, 18.8090,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [26.0000, 19.1610,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [55.0000, 10.9770,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [26.0000, 12.3070,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [20.0000, 11.2620,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [70.0000, 13.9670,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000]]) tensor([[1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0.]])
tensor([[66.0000, 16.3470,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [47.0000,  6.6830,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [39.0000, 15.9690,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [33.0000, 33.4860,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [41.0000, 11.0370,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [34.0000, 19.1990,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [39.0000, 13.9380,  0.0000,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,
          1.0000],
        [49.0000,  6.2690,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000]]) tensor([[1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 1., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 1., 0., 0., 0.]])
tensor([[48.0000, 15.0360,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,  1.0000,
          0.0000],
        [15.0000, 16.7250,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  0.0000,
          1.0000],
        [23.0000, 12.2600,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000],
        [46.0000,  7.2850,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [43.0000, 13.9720,  0.0000,  1.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [23.0000, 25.3550,  1.0000,  0.0000,  1.0000,  0.0000,  0.0000,  1.0000,
          0.0000],
        [20.0000,  9.2810,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  0.0000,
          1.0000],
        [51.0000, 13.5970,  1.0000,  0.0000,  0.0000,  0.0000,  1.0000,  1.0000,
          0.0000]]) tensor([[1., 0., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 1.],
        [0., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1.],
        [0., 0., 0., 0., 1.]])