In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\archive\Student_Performance.csv")
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [3]:
df['Extracurricular Activities']=df['Extracurricular Activities'].astype('category').cat.codes
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

In [4]:
import numpy as np
Y=df['Performance Index']
df.drop(columns=['Performance Index'],axis=0,inplace=True)
X=df.copy()

In [5]:
X=np.array(X)
Y=np.array(Y)
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,random_state=42,test_size=0.3)
xval,xtest,yval,ytest=train_test_split(X,Y,random_state=42,test_size=0.5)

In [6]:
Y.shape

(10000,)

In [7]:
from torch.utils.data import Dataset,DataLoader
import torch
class Customdataset(Dataset):
    def __init__(self,a,b):
        self.x=torch.tensor(a,dtype=torch.float32)
        self.y=torch.tensor(b,dtype=torch.float32)

    def __len__(self):
        return len(self.x)
    
    def __getitem__(self, index):
        return self.x[index],self.y[index]
    
traindataset=Customdataset(a=xtrain,b=ytrain)
valdataset=Customdataset(a=xval,b=yval)
testdataset=Customdataset(a=xtest,b=ytest)

traindl=DataLoader(traindataset,batch_size=10,shuffle=True)
testdl=DataLoader(testdataset,batch_size=10,shuffle=True)
valdl=DataLoader(valdataset,batch_size=10,shuffle=True)

In [8]:
import torch.nn as nn

class regression(nn.Module):
    def __init__(self):
        super(regression,self).__init__()
        self.Linear1=nn.Linear(X.shape[1],10)
        self.Linear2=nn.Linear(10,1)

    def forward(self,x):
        x=self.Linear1(x)
        x=self.Linear2(x)
        return x

model=regression()

In [12]:
from torchvista import trace_model

ModuleNotFoundError: No module named 'torchvista'